/* FONTS STYLES */
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Hind+Guntur:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* /FONT STYLES */

/* OVERALL */
body {
    /* ANIMATED BG */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    /* /ANIMATED BG */
}

    /* ANIMATED BG */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    /* /ANIMATED BG */

#container {
    display: grid;
    grid-template: 
        "nav" auto
        "header" 100vh
        "about" auto
        "portfolio" 50vh
        "port" auto
        "footer" 15vh
        / 1fr;
        place-content: center;
}
/* /OVERALL */

/* NAVBAR */
nav {
    grid-area: nav;
}
/* /NAVBAR */


/* HEADER SECTION */
#home {
    grid-area: header;
    place-self: center;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 5em;
    font-weight: 100;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7),
                 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
/* /HEADER SECTION */


/* ABOUT SECTION */
#about {
    grid-area: about;
    background-color: #fff;
    display: grid;
    justify-items: center;
    padding: 5em 0;
}

#about div {
    margin: 1em 0;
}

.center {
    text-align: center;
}

.aio {
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-size: 5em;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

.meter { 
    width: 50vw;
    height: 2em;
    background: #E4E5E8;
    color: white;
    margin: 1em 0;
  }

  .meter > span {
    display: block;
    height: 100%;
    background-color: #696969;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* /ABOUT SECTION */


/* PORTFOLIO SECTION */
#portfolio {
    grid-area: portfolio;
    display: flex;
    justify-content: center;
    align-items: center;
}

#port {
    grid-area: port;
    background-color: #fff;
    display: grid;
    justify-items: center;
}

#port div {
    padding: 1em 0;
}

#port a {
    text-decoration: none;
    color: #000;
}

#port a:hover {
    text-decoration: underline;
}

/* /PORTFOLIO SECTION */

/* FOOTER SECTION */
footer {
    grid-area: footer;
    background-color: #000;
    text-align: center;
    padding: 2em 0;
}

footer a {
    background-color: #fff;
    padding: 1em;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    color: #fff;
    padding: 2em 0;
}
/* /FOOTER SECTION */


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {  
    #container {
        grid-template: 
            "nav" auto
            "header" 100vh
            "about" auto
            "portfolio" 50vh
            "port" 50vh
            "footer" 15vh
            / 1fr;
    }

    .flex {
        display: flex;
        gap: 15%;
        width: 30rem;
        align-items: center;
    }

    .meter {
        width: 30vw;
    }

    #menu {
        width: 25vw;
    }
  }